
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-21-5XP {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #0a0b10;

  .group-29-UJd {
    width: 144.2rem;
    height: 107.3rem;
    position: relative;
    flex-shrink: 0;

    .layer-0-1-9Bo {
      background-image: url('REPLACE_IMAGE:f39e72bace58a80654743efbaf6495cbda9d5b12');
      width: 144rem;
      height: 81.4rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 166.969% 106.511%;
      background-position: -48.2177rem -5.3rem;
    }
    .layer-2-1-hsX {
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
      height: 50.7rem;
      position: absolute;
      left: 0.2rem;
      top: 51.7rem;
    }
    .group-1-agR {
      padding: 3.5rem 17.35rem 6.8rem 6.75rem;
      width: 144rem;
      height: 14.1rem;
      position: absolute;
      background: linear-gradient(180deg, #000000 -70.59%, rgba(0, 0, 0, 0) 100%);
      box-sizing: border-box;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;

      .firas-BgD {
        text-align: center;
        font-weight: 800;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 39.55rem;
        font-size: 3.1rem;
        line-height: 1.2125;
        color: #ffffff;
      }
      .home-oSh {
        font-size: 1.5rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 1.3rem 10.6rem 0rem 0rem;
        text-align: center;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
      }
      .projects-sBf {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 1.3rem 10.35rem 0rem 0rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 800;
        color: #ffffff;
        flex-shrink: 0;
      }
      .skills-WkR {
        font-size: 1.5rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 1.3rem 8.65rem 0rem 0rem;
        text-align: center;
        font-weight: 800;
        line-height: 1.2125;
      }
      .about-Zih {
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        margin: 1.3rem 10.45rem 0rem 0rem;
        font-size: 1.5rem;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .contact-EZw {
        flex-shrink: 0;
        margin-top: 1.3rem;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .firas-r5X {
      height: 40.3rem;
      position: absolute;
      left: 23rem;
      text-align: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 97.7rem;
      top: 25.9rem;
      font-size: 33.2rem;
      font-weight: 800;
      color: #ffffff;
      white-space: nowrap;
    }
    .ux-ui-deigner-6Em {
      width: 97.6rem;
      height: 8.8rem;
      text-align: center;
      font-weight: 800;
      line-height: 1.2125;
      letter-spacing: 3.456rem;
      color: #ffffff;
      position: absolute;
      left: 22.65rem;
      top: 24.4rem;
      font-size: 7.2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .alsam-hkM {
      left: 21.7rem;
      font-weight: 800;
      letter-spacing: 6.36rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 42.9rem;
      position: absolute;
      top: 59.1rem;
      text-align: center;
      font-size: 3rem;
      line-height: 1.2125;
      height: 3.7rem;
    }
    .aree-kyX {
      letter-spacing: 8.58rem;
      color: #ffffff;
      width: 42.4rem;
      height: 3.7rem;
      font-weight: 800;
      text-align: center;
      font-size: 3rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 80.65rem;
      top: 59.1rem;
    }
    .frame-1-Pmb {
      height: 75.5003rem;
      position: absolute;
      left: 15rem;
      top: 9.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 114.0003rem;
    }
    .layer-1-11-4sj {
      height: 46.4rem;
      position: absolute;
      left: 63.8rem;
      top: 47.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 18.5rem;
    }
    .layer-1-1-xiD {
      left: 63.8rem;
      top: 47.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 18.5rem;
      height: 46.4rem;
      position: absolute;
    }
    .model-7-qn1 {
      vertical-align: top;
      opacity: 0;
      width: 0.2rem;
      height: 0.3rem;
      position: absolute;
      left: 74.7rem;
      top: 42.1rem;
      object-fit: cover;
    }
    .asteroid-2-8m7 {
      opacity: 0;
      width: 0.1rem;
      height: 0.1rem;
      position: absolute;
      left: 70.1rem;
      top: 35.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .asteroid1-1-qfX {
      object-fit: cover;
      vertical-align: top;
      opacity: 0;
      width: 0.1rem;
      height: 0.1rem;
      position: absolute;
      left: 69.6rem;
      top: 35.5rem;
    }
    .asteroid-3-ZrR {
      width: 0.2519rem;
      height: 0.2495rem;
      position: absolute;
      left: 74.9661rem;
      top: 46.0479rem;
      object-fit: cover;
      vertical-align: top;
    }
    .asteroid-4-6LZ {
      position: absolute;
      left: 74.9661rem;
      top: 46.0479rem;
      object-fit: cover;
      vertical-align: top;
      width: 0.2519rem;
      height: 0.2495rem;
    }
    .vector-1-Rdj {
      position: absolute;
      left: 126rem;
      top: 46.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.3rem;
    }
    .frame-2-xdf {
      left: 126rem;
      top: 46.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.3rem;
      position: absolute;
    }
    .asteroid1-2-JSd {
      vertical-align: top;
      opacity: 0;
      width: 0.1rem;
      height: 0.1rem;
      position: absolute;
      left: 68.2rem;
      top: 61.7rem;
      object-fit: cover;
    }
    .asteroid1-3-zKT {
      height: 0.0616rem;
      position: absolute;
      left: 68.1714rem;
      top: 62.0327rem;
      object-fit: cover;
      vertical-align: top;
      opacity: 0;
      width: 0.0616rem;
    }
    .asteroid1-4-iWM {
      height: 0.0338rem;
      position: absolute;
      left: 67.9119rem;
      top: 62.32rem;
      object-fit: cover;
      vertical-align: top;
      opacity: 0;
      width: 0.0338rem;
    }
    .asteroid1-5-EzV {
      object-fit: cover;
      vertical-align: top;
      opacity: 0;
      width: 0.0338rem;
      height: 0.0338rem;
      position: absolute;
      left: 68.7184rem;
      top: 62.1013rem;
    }
    .asteroid-6-Nqo {
      top: 61.8rem;
      object-fit: cover;
      vertical-align: top;
      opacity: 0;
      width: 0.1rem;
      height: 0.1rem;
      position: absolute;
      left: 68.9rem;
    }
    .asteroid-8-KFF {
      object-fit: cover;
      vertical-align: top;
      opacity: 0;
      width: 0.2rem;
      height: 0.3rem;
      position: absolute;
      left: 67.7rem;
      top: 61.7rem;
    }
    .rectangle-169-4Cq {
      height: 23.5rem;
      position: absolute;
      left: 0;
      top: 83.8rem;
      background: linear-gradient(180deg, #0a0b10 25.11%, rgba(0, 0, 0, 0) 119.15%);
      width: 144rem;
    }
  }
  .auto-group-qjed-9k5 {
    box-sizing: border-box;
    padding: 4.544rem 0rem 0rem 3.844rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-8tem-GZo {
      height: 162.9563rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 4rem;
      width: 100%;

      .asteroid-1-oJq {
        left: 108.956rem;
        top: 55.0563rem;
        background-size: 314.647% 100%;
        background-position: -0.035rem -0rem;
        background-image: url('REPLACE_IMAGE:285b4a5793f52072a75e27c8961eae5b294da316');
        width: 31.2rem;
        height: 94.9rem;
        position: relative;
      }
      .about-VSZ {
        width: 16.6rem;
        position: absolute;
        text-align: center;
        font-weight: 800;
        line-height: 1.2125;
        letter-spacing: 7.77rem;
        color: #ffffff;
        height: 53.9rem;
        left: 24.556rem;
        top: 6.0563rem;
        font-size: 11.1rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .model-6-2-zu7 {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 32.312rem;
        height: 30.3125rem;
        position: absolute;
      }
      .i-am-a-seasoned-ux-ui-designer-with-a-solid-foundation-in-software-engineering-holding-a-bachelors-degree-in-the-field-with-a-rich-professional-journey-spanning-10-years-i-bring-a-unique-blend-of-technical-expertise-and-design-sensibility-to-my-work-in-addition-to-my-software-engineering-background-i-have-accumulated-over-13-years-of-experience-in-graphic-design-further-enhancing-my-ability-to-create-visually-appealing-and-user-friendly-interfaces-my-career-has-been-marked-by-a-passion-for-crafting-seamless-user-experiences-informed-by-both-the-principles-of-software-engineering-and-the-aesthetics-of-graphic-design-i-thrive-on-the-intersection-of-technology-and-creativity-consistently-delivering-innovative-solutions-that-marry-form-and-function-w3f {
        top: 14.1563rem;
        font-size: 2.4rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 70.6rem;
        height: 66.3rem;
        position: absolute;
        left: 49.856rem;
        font-weight: 300;
        line-height: 1.625;
      }
      .rectangle-47-jNq {
        top: 130.5563rem;
        box-sizing: border-box;
        backdrop-filter: blur(1.7rem);
        border-radius: 4rem;
        left: 6.456rem;
        height: 32.4rem;
        cursor: pointer;
        position: absolute;
        background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
        width: 125.9rem;
      }
      .mask-group-PTP {
        object-fit: contain;
        vertical-align: top;
        width: 51.1rem;
        height: 31.2rem;
        position: absolute;
        left: 7.056rem;
        top: 131.1563rem;
      }
      .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-ikZ {
        width: 61.6rem;
        top: 141.8563rem;
        font-size: 2.1rem;
        font-family: Inter, 'Source Sans Pro';
        height: 17rem;
        position: absolute;
        left: 65.556rem;
        font-weight: 300;
        line-height: 1.619047619;
        color: #ffffff;
      }
      .energygov-WAd {
        line-height: 1.2125;
        color: #ffffff;
        height: 5.7rem;
        top: 134.2563rem;
        font-size: 4.7rem;
        font-weight: 800;
        white-space: nowrap;
        width: 31.1rem;
        position: absolute;
        left: 65.556rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .projects-cUZ {
        width: 74.1rem;
        height: 11.6rem;
        position: absolute;
        left: 31.156rem;
        text-align: center;
        font-weight: 800;
        top: 110.7563rem;
        font-size: 9.5rem;
        line-height: 1.2125;
        letter-spacing: 2.85rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-kucy-iXb {
      margin: 0rem 0rem 1.488rem 6.456rem;
      width: 134.6867rem;
      height: 71.3125rem;
      position: relative;
      flex-shrink: 0;

      .model-7-2YH {
        top: 28.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 34.2867rem;
        height: 43.1125rem;
        position: absolute;
        left: 100.4rem;
      }
      .rectangle-170-mEy {
        background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
        border-radius: 4rem;
        position: absolute;
        box-sizing: border-box;
        cursor: pointer;
        left: 0;
        top: 0;
        backdrop-filter: blur(1.7rem);
        width: 125.9rem;
        height: 32.4rem;
      }
      .mask-group-3TP {
        width: 51.1rem;
        height: 31.2rem;
        position: absolute;
        left: 0.6rem;
        top: 0.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rebuildingtogethercom-NVf {
        font-weight: 800;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        left: 59.1rem;
        top: 3.3rem;
        font-size: 4rem;
        width: 57.3rem;
        height: 4.9rem;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-UYh {
        height: 17rem;
        position: absolute;
        left: 59.1rem;
        top: 10.3rem;
        font-size: 2.1rem;
        line-height: 1.619047619;
        color: #ffffff;
        width: 61.6rem;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 300;
      }
      .rectangle-171-52h {
        backdrop-filter: blur(1.7rem);
        width: 125.9rem;
        height: 32.4rem;
        position: absolute;
        left: 0;
        top: 36.4rem;
        box-sizing: border-box;
        background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
        border-radius: 4rem;
      }
      .mask-group-ZCm {
        left: 0.6rem;
        top: 37rem;
        object-fit: contain;
        vertical-align: top;
        width: 51.1rem;
        height: 31.2rem;
        position: absolute;
      }
      .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-tkq {
        font-weight: 300;
        line-height: 1.619047619;
        color: #ffffff;
        height: 17rem;
        left: 59.1rem;
        top: 47.7rem;
        font-family: Inter, 'Source Sans Pro';
        width: 61.6rem;
        position: absolute;
        font-size: 2.1rem;
      }
      .energygov-Uj3 {
        height: 5.7rem;
        top: 40.1rem;
        font-size: 4.7rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 31.1rem;
        position: absolute;
        left: 59.1rem;
        font-weight: 800;
        line-height: 1.2125;
        white-space: nowrap;
      }
    }
    .auto-group-p8hx-yvh {
      padding: 0.6rem 5.2rem 0.6rem 0.6rem;
      width: calc(100% - 14.256rem);
      height: 32.4rem;
      display: flex;
      align-items: center;
      backdrop-filter: blur(1.7rem);
      border-radius: 4rem;
      box-sizing: border-box;
      flex-shrink: 0;
      background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
      margin: 0rem 7.8rem 34.28rem 6.456rem;

      .mask-group-rzV {
        margin-right: 7.4rem;
        width: 51.1rem;
        height: 31.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-i4r5-bhB {
        flex-direction: column;
        flex-shrink: 0;
        margin: 2.7rem 0rem 4.5rem 0rem;
        height: calc(100% - 7.2rem);
        display: flex;

        .rebuildingtogethercom-X53 {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.1rem;
          font-size: 4rem;
          font-weight: 800;
        }
        .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-Sho {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 61.6rem;
          font-size: 2.1rem;
          font-weight: 300;
          line-height: 1.619047619;
        }
      }
    }
    .auto-group-3au7-CKb {
      color: #ffffff;
      white-space: nowrap;
      justify-content: center;
      box-sizing: border-box;
      backdrop-filter: blur(0.35rem);
      border-radius: 4rem;
      height: 23.4945rem;
      font-weight: 500;
      line-height: 1.2125;
      box-shadow: 1.1rem -0.6rem 0.4rem rgba(0, 0, 0, 0.4699999988);
      text-align: center;
      font-size: 2.3rem;
      background: linear-gradient(180deg, #d9d9d9 -0%, rgba(16, 159, 240, 0.5400000215) 100%);
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      margin: 0rem 62rem 0rem 56.356rem;
      width: calc(100% - 118.356rem);
    }
  }
}
