
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-21-5XP {
  width: 1850px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #0a0b10;
}
.desktop-21-5XP .group-29-UJd {
  width: 144.2rem;
  height: 107.3rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-21-5XP .group-29-UJd .layer-0-1-9Bo {
  width: 244rem;
  height: 81.4rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 166.969% 106.511%;
  background-position: -48.2177rem -5.3rem;
  background-image: url('../assets/layer-0-1.png');
}
.desktop-21-5XP .group-29-UJd .layer-2-1-hsX {
  width: 1850px;
  height: 50.7rem;
  position: absolute;
  left: 0.2rem;
  top: 51.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .group-1-agR {
  box-sizing: border-box;
  padding: 3.5rem 27.35rem 6.8rem 6.75rem;
  width: 1850px;
  height: 14.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #000000 -70.59%, rgba(0, 0, 0, 0) 100%);
}
.desktop-21-5XP .group-29-UJd .group-1-agR .firas-BgD {
  margin-right: 39.55rem;
  text-align: center;
  font-size: 3.1rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-21-5XP .group-29-UJd .group-1-agR .home-oSh {
  margin: 1.3rem 10.6rem 0rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-21-5XP .group-29-UJd .group-1-agR .projects-sBf {
  margin: 1.3rem 10.35rem 0rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-21-5XP .group-29-UJd .group-1-agR .skills-WkR {
  margin: 1.3rem 8.65rem 0rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-21-5XP .group-29-UJd .group-1-agR .about-Zih {
  margin: 1.3rem 10.45rem 0rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-21-5XP .group-29-UJd .group-1-agR .contact-EZw {
  margin-top: 1.3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-21-5XP .group-29-UJd .firas-r5X {
  width: 97.7rem;
  height: 40.3rem;
  position: absolute;
  left: 43rem;
  top: 25.9rem;
  text-align: center;
  font-size: 33.2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-21-5XP .group-29-UJd .ux-ui-deigner-6Em {
  width: 97.6rem;
  height: 8.8rem;
  position: absolute;
  left: 44.5rem;
  top: 24.4rem;
  text-align: center;
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 3.456rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-21-5XP .group-29-UJd .alsam-hkM {
  width: 42.9rem;
  height: 3.7rem;
  position: absolute;
  left: 44.7rem;
  top: 59.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 6.36rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-21-5XP .group-29-UJd .aree-kyX {
  width: 42.4rem;
  height: 3.7rem;
  position: absolute;
  left: 105.65rem;
  top: 59.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 8.58rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-21-5XP .group-29-UJd .frame-1-Pmb {
  width: 114.0003rem;
  height: 75.5003rem;
  position: absolute;
  left: 35rem;
  top: 9.7rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .layer-1-11-4sj {
  width: 18.5rem;
  height: 46.4rem;
  position: absolute;
  left: 85rem;
  top: 52.4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .layer-1-1-xiD {
  width: 18.5rem;
  height: 46.4rem;
  position: absolute;
  left: 63.8rem;
  top: 47.4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .model-7-qn1 {
  opacity: 0;
  width: 0.2rem;
  height: 0.3rem;
  position: absolute;
  left: 74.7rem;
  top: 42.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .asteroid-2-8m7 {
  opacity: 0;
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  left: 70.1rem;
  top: 35.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .asteroid1-1-qfX {
  opacity: 0;
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  left: 69.6rem;
  top: 35.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .asteroid-3-ZrR {
  width: 0.2519rem;
  height: 0.2495rem;
  position: absolute;
  left: 74.9661rem;
  top: 46.0479rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .asteroid-4-6LZ {
  width: 0.2519rem;
  height: 0.2495rem;
  position: absolute;
  left: 74.9661rem;
  top: 46.0479rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .vector-1-Rdj {
  width: 2rem;
  height: 1.3rem;
  position: absolute;
  left: 126rem;
  top: 46.8rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .frame-2-xdf {
  width: 2rem;
  height: 1.3rem;
  position: absolute;
  left: 126rem;
  top: 46.8rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .asteroid1-2-JSd {
  opacity: 0;
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  left: 68.2rem;
  top: 61.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .asteroid1-3-zKT {
  opacity: 0;
  width: 0.0616rem;
  height: 0.0616rem;
  position: absolute;
  left: 68.1714rem;
  top: 62.0327rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .asteroid1-4-iWM {
  opacity: 0;
  width: 0.0338rem;
  height: 0.0338rem;
  position: absolute;
  left: 67.9119rem;
  top: 62.32rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .asteroid1-5-EzV {
  opacity: 0;
  width: 0.0338rem;
  height: 0.0338rem;
  position: absolute;
  left: 68.7184rem;
  top: 62.1013rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .asteroid-6-Nqo {
  opacity: 0;
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  left: 68.9rem;
  top: 61.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .asteroid-8-KFF {
  opacity: 0;
  width: 0.2rem;
  height: 0.3rem;
  position: absolute;
  left: 67.7rem;
  top: 61.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .group-29-UJd .rectangle-169-4Cq {
  width: 144rem;
  height: 23.5rem;
  position: absolute;
  left: 0;
  top: 93.8rem;
  background: linear-gradient(180deg, #0a0b10 25.11%, rgba(0, 0, 0, 0) 119.15%);
}
.desktop-21-5XP .auto-group-qjed-9k5 {
  box-sizing: border-box;
  padding: 4.544rem 0rem 0rem 3.844rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-8tem-GZo {
  margin-bottom: 4rem;
  width: 100%;
  height: 162.9563rem;
  position: relative;
  flex-shrink: 0;
  margin-left: 20rem;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-8tem-GZo .asteroid-1-oJq {
  width: 31.2rem;
  height: 94.9rem;
  position: relative;
  left: 108.956rem;
  top: 55.0563rem;
  background-size: 314.647% 100%;
  background-position: -0.035rem -0rem;
  background-image: url('REPLACE_IMAGE:285b4a5793f52072a75e27c8961eae5b294da316');
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-8tem-GZo .about-VSZ {
  width: 16.6rem;
  height: 53.9rem;
  position: absolute;
  left: 10rem;
  top: -8rem;
  rotate: 90deg;
  text-align: center;
  font-size: 11.1rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 7.77rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-8tem-GZo .model-6-2-zu7 {
  width: 32.312rem;
  height: 30.3125rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-8tem-GZo .i-am-a-seasoned-ux-ui-designer-with-a-solid-foundation-in-software-engineering-holding-a-bachelors-degree-in-the-field-with-a-rich-professional-journey-spanning-10-years-i-bring-a-unique-blend-of-technical-expertise-and-design-sensibility-to-my-work-in-addition-to-my-software-engineering-background-i-have-accumulated-over-13-years-of-experience-in-graphic-design-further-enhancing-my-ability-to-create-visually-appealing-and-user-friendly-interfaces-my-career-has-been-marked-by-a-passion-for-crafting-seamless-user-experiences-informed-by-both-the-principles-of-software-engineering-and-the-aesthetics-of-graphic-design-i-thrive-on-the-intersection-of-technology-and-creativity-consistently-delivering-innovative-solutions-that-marry-form-and-function-w3f {
  width: 70.6rem;
  height: 66.3rem;
  position: absolute;
  left: 49.856rem;
  top: 14.1563rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.625;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-8tem-GZo .rectangle-47-jNq {
  width: 125.9rem;
  height: 32.4rem;
  cursor: pointer;
  position: absolute;
  left: 19rem;
  top: 130.5563rem;
  box-sizing: border-box;
  backdrop-filter: blur(1.7rem);
  background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
  border-radius: 4rem;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-8tem-GZo .mask-group-PTP {
  width: 51.1rem;
  height: 31.2rem;
  position: absolute;
  left: 19rem;
  top: 131.1563rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-8tem-GZo .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-ikZ {
  width: 61.6rem;
  height: 17rem;
  position: absolute;
  left: 77.556rem;
  top: 141.8563rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.619047619;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-8tem-GZo .energygov-WAd {
  width: 31.1rem;
  height: 5.7rem;
  position: absolute;
  left: 77.556rem;
  top: 134.2563rem;
  font-size: 4.7rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-8tem-GZo .projects-cUZ {
  width: 74.1rem;
  height: 11.6rem;
  position: absolute;
  left: 50.156rem;
  top: 110.7563rem;
  text-align: center;
  font-size: 9.5rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 2.85rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-kucy-iXb {
  margin: 0rem 0rem 1.488rem 10.456rem;
  width: 134.6867rem;
  height: 71.3125rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-kucy-iXb .model-7-2YH {
  width: 34.2867rem;
  height: 43.1125rem;
  position: absolute;
  left: 110.4rem;
  top: 28.2rem;
  
  vertical-align: top;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-kucy-iXb .rectangle-170-mEy {
  width: 125.9rem;
  height: 32.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 100;
  box-sizing: border-box;
  backdrop-filter: blur(1.7rem);
  background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
  border-radius: 4rem;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-kucy-iXb .mask-group-3TP {
  width: 51.1rem;
  height: 31.2rem;
  position: absolute;
  left: 0.6rem;
  top: 0.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-kucy-iXb .rebuildingtogethercom-NVf {
  width: 57.3rem;
  height: 4.9rem;
  position: absolute;
  left: 59.1rem;
  top: 3.3rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-kucy-iXb .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-UYh {
  width: 61.6rem;
  height: 17rem;
  position: absolute;
  left: 59.1rem;
  top: 10.3rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.619047619;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-kucy-iXb .rectangle-171-52h {
  width: 125.9rem;
  height: 32.4rem;
  position: absolute;
  left: 0;
  top: 36.4rem;
  box-sizing: border-box;
  backdrop-filter: blur(1.7rem);
  background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
  border-radius: 4rem;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-kucy-iXb .mask-group-ZCm {
  width: 51.1rem;
  height: 31.2rem;
  position: absolute;
  left: 0.6rem;
  top: 37rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-kucy-iXb .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-tkq {
  width: 61.6rem;
  height: 17rem;
  position: absolute;
  left: 59.1rem;
  top: 48rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.619047619;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-kucy-iXb .energygov-Uj3 {
  width: 31.1rem;
  height: 5.7rem;
  position: absolute;
  left: 59.1rem;
  top: 40.1rem;
  font-size: 4.7rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-p8hx-yvh {
  margin: 0rem 7.8rem 34.28rem 6.456rem;
  box-sizing: border-box;
  padding: 0.6rem 5.2rem 0.6rem 0.6rem;
  width: calc(100% - 14.256rem);
  height: 32.4rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(1.7rem);
  background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
  border-radius: 4rem;
  flex-shrink: 0;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-p8hx-yvh .mask-group-rzV {
  margin-right: 7.4rem;
  width: 51.1rem;
  height: 31.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-p8hx-yvh .auto-group-i4r5-bhB {
  margin: 2.7rem 0rem 4.5rem 0rem;
  height: calc(100% - 7.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-p8hx-yvh .auto-group-i4r5-bhB .rebuildingtogethercom-X53 {
  margin-bottom: 2.1rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-p8hx-yvh .auto-group-i4r5-bhB .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-Sho {
  max-width: 61.6rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.619047619;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-21-5XP .auto-group-qjed-9k5 .auto-group-3au7-CKb {
  margin: 0rem 62rem 0rem 56.356rem;
  width: calc(100% - 118.356rem);
  height: 23.4945rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 1.1rem -0.6rem 0.4rem rgba(0, 0, 0, 0.4699999988);
  backdrop-filter: blur(0.35rem);
  background: linear-gradient(180deg, #d9d9d9 -0%, rgba(16, 159, 240, 0.5400000215) 100%);
  border-radius: 4rem;
  flex-shrink: 0;
}
